@media only screen and (max-width: 1000px) {
    #app-page .content #side-bar {
        width: 30%;
    }
    #app-page .content #shopping-cart #item {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 750px) {
    #app-page .content #shopping-cart #item img {
        display: none;
    }
    #app-page .content #shopping-cart #quantity {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    #app-page .content #side-bar {
        width: 40%;
    }
    #app-page .content #logout-button {
        width: 80px;
    }
    #app-page .content #side-bar #close-icon {
        margin-left: 85%;
    }
}

@media only screen and (max-width: 550px) {
    #app-page .content #shopping-cart {
        overflow: scroll;
    }
    #app-page .content #shopping-cart #item .description {
        width: 80%;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 450px) {
    #app-page .content #side-bar {
        width: 90%;
        height: 50%;
        position: fixed;
        bottom: 0;
        right: 5px;
        left: 5px;
        overflow: scroll;
        margin-left: 15px;
        margin-bottom: 0;
    }
    #app-page .content #side-bar #supplier-icon {
        height: 30%;
    }
    #app-page .content #side-bar #close-icon {
        margin-left: 90%;
    }
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white;
        background-color: rgba(0, 0, 0, .5);
    }
    #app-page .content #shopping-cart {
        width: 90%;
        margin-left: 5%;
    }
    #app-page .content #shopping-cart #quantity {
        width: 95%;
    }
}