#app-page .background {
    display: flex;
    flex-direction: column;
}

#app-page .content #logout-button {
    background: none rgb(255, 255, 255);
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    border-radius: 2px;
    height: 40px;
    width: 10%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    right: 10px;
    top: 10px;
    z-index: 10000;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    color: rgb(86, 86, 86);
    margin-top: 40px;
    animation: cssAnimation 0s 1s forwards;
    opacity: 0;
}

@keyframes cssAnimation {
    to {
        opacity: 1;
    }
}

#app-page .content #logout-button:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
}

#app-page .content {
    flex-grow: 1;
    width: 100%;
    background-color: #405C81;
}

#app-page .content #location-map {
    height: 100%;
    width: 100%;
}

#app-page .content #side-bar {
    background-color: white;
    height: calc(100% - 80px);
    width: 25%;
    position: absolute;
    overflow: auto;
    color: rgb(64, 92, 129);
    margin: 20px;
    z-index: 10000;
    padding-bottom: 10px;
    border: 1px solid #405C81;
}

#app-page .content #side-bar #close-icon {
    margin-left: 90%;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

#app-page .content #side-bar #supplier-icon {
    width: 30%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#app-page .content #side-bar h3 {
    font-size: 20px;
    margin-left: 5%;
}

#products, #services, #offers {
    width: 80%;
    margin: auto;
}

#products button,
#services button,
#offers button {
    margin-top: 0.5rem;
}

#app-page .content #side-bar a {
    display: block;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid rgb(235, 235, 235);
}

#app-page .content #shopping-cart {
    width: 40%;
    height: 60%;
    margin: 90px 30%;
    background: #FFFFFF;
    border: 1px solid #405C81;
    border-radius: 6px;
    position: absolute;
    z-index: 20000;
    overflow: hidden;
}

#app-page .content #shopping-cart h3 {
    margin: 0;
    border-bottom: 1px solid #405C81;
    padding: 10px 0px;
    font-weight: bold;
    text-align: center;
    height: 5%;
    position: relative;
    width: 100%;
}

#app-page .content #shopping-cart #close-cart {
    margin-left: 95%;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    height: 10%;
}

#app-page .content #shopping-cart #item {
    padding: 10px 20px;
    height: 65%;
    border-bottom: 1px solid #405C81;
}

#app-page .content #shopping-cart img {
    width: 40%;
    margin: 0 30%;
    height: 50%;
}

#app-page .content #shopping-cart #description {
    width: 80%;
    margin: 10px 10%;
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#app-page .content #shopping-cart #quantity {
    margin: 10px auto;
    width: 40%;
    text-align: center;
}

#app-page .content #shopping-cart #quantity input {
    border: none;
    text-align: center;
    width: 30px;
    font-size: 16px;
}

#app-page .content #shopping-cart button {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#app-page .content #shopping-cart button:focus, input:focus {
    outline: 0;
}

#app-page .content #shopping-cart #out-of-stock {
    color: red;
    margin: 5px auto;
    text-align: center;
}

#app-page .content #shopping-cart #price {
    margin: 10px auto;
    height: 10%;
    width: 30%;
    text-align: center;
    font-size: 20px;
}

#app-page .content #shopping-cart .buy {
    width: 30%;
    margin: 10px auto;
    display: block;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}