body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 18px;
    overflow: hidden;
}

.background {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

input {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 16px;
}

::placeholder {
    color: #eee;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 16px;
}

.btn {
    width: 100%;
    height: 36px;
    border-radius: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn.action-primary {
    background: #394a61;
    cursor: pointer;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
}

.btn.action-primary:hover {
    background: #394a61dd;
}

.btn.action-warn {
    background: #e01800;
    cursor: pointer;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
}

.btn.action-warn:hover {
    background: rgba(224, 24, 0, 0.87);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 0;
    z-index: -1;
}

.modal.active {
    z-index: 10000;
    height: 100vh;
}

.modal .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal .modal-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 70vh;
    background: white;
    padding: 0 20px;
}

.modal .modal-inner .modal-header {
    display: flex;
    justify-content: flex-end;
}

.close-icon {
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    transform: rotateZ(45deg);
    cursor: pointer;
}

.modal .modal-inner .modal-content {
    flex-grow: 1;
}

.modal .modal-inner .modal-footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.modal .modal-inner .modal-footer .action-primary {
    width: 200px;
}

.alert {
    width: 300px;
    margin-top: 0;
    text-align: center;
}

.alert:not(:empty) {
    margin-top: 3rem;
    padding: 10px;
}

.alert.alert-danger {
    background: #ff3c7499;
    color: #fff;
}

.display-none {
    display: none !important;
}

.display-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.my-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-1.display-none {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.3);
    z-index: 10000;
}

#splash-screen.show {
    display: flex;
    opacity: 1;
    transition: 1s opacity ease-out;
}

#splash-screen.hiding {
    opacity: 0;
}

#splash-screen .loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

table .w-10 {
    width: 10%;
}

table .w-15 {
    width: 15%;
}

table .w-30 {
    width: 30%;
}

.h-100 {
    height: 100%;
}

.text-center {
    text-align: center !important;
}
.cursor-pointer {
    cursor: pointer !important;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
