.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 60px);
    background-color: rgb(64, 92, 129);
    padding: 3px 30px;
}

#logo-wrapper {
    color: #4079BA;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    background: rgba(255, 255, 255, 1);
    border-radius: 6px;
    cursor: pointer;
}

#logo-wrapper div {
    padding-top: 12px;
    margin-left: -5px;
    margin-right: 5px;
}

#logo {
    max-height: 40px;
}

.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header ul li {
    max-height: 40px;
    cursor: pointer;
}

.header ul li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.header ul li.active {
    background: rgba(255, 255, 255, 0.2);
}

.header ul li:hover a {
    transform: translateY(-2px);
}

.header ul li a,
.header ul li a:active,
.header ul li a:visited,
.header ul li a:link {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: transform 0.1s ease-in-out;
}

#logout-button {
    min-width: 150px;
    max-height: 40px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    border: 2px solid rgb(235, 235, 235);
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    color: rgb(86, 86, 86);
}

#logout-button:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
}