#login-page {
    display: flex;
    flex-direction: column;
}

#login-page .header {
    width: 100vw;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#login-page .header .profile-image-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0.8;
}

#login-page .header .profile-image-wrapper .profile-image {
    width: 100%;
    height: 100%;
    background: url('../images/profile.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#login-page .header .tabs-header {
    display: flex;
    cursor: pointer;
    color: white;
}

#login-page .header .tabs-header .tab-button {
    padding: 10px 30px;
    transition: background 0.3s ease-in-out;
}

#login-page .header .tabs-header .tab-button.active {
    border-bottom: 3px solid #8caddb;
    background: rgba(255, 255, 255, 0.2);
}

#login-page .header .tabs-header .tab-button:hover {
    background: rgba(255, 255, 255, 0.3);
}

#login-page .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    flex-grow: 1;
    flex-shrink: 1;
}

#login-page .content .tab {
    display: none;
    width: 400px;
}

#login-page .content .tab.active {
    display: block;
}

#login-page .content .input-form {
    margin-top: 40px;
}

#login-page .content .input-form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

#login-page .content .input-form .form-group input {
    width: 100%;
}

#login-page .content .input-form .profile-icon {
    width: 24px;
    height: 24px;
    background: url('../images/profile-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 7px;
    margin-left: 3px;
}

#login-page .content .input-form .lock-icon {
    width: 24px;
    height: 24px;
    background: url('../images/lock.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 7px;
    margin-left: 3px;
}

#login-page .content .input-form .pin-icon {
    width: 24px;
    height: 24px;
    background: url('../images/pin.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 7px;
    margin-left: 3px;
}

#login-page .content .input-form input {
    border: none;
    outline: none;
    background: none;
    color: white;
}

#login-page .content .input-form .action-primary {
    margin-top: 20px;
    margin-bottom: 40px;
}

#location-map {
    height: 100%;
    width: 100%;
}
