.background {
    display: flex;
    flex-direction: column;
}

.content {
    position: relative;
    flex-grow: 1;
    width: 100%;
    background-color: #405C81;
}

#location-map {
    height: 100%;
    width: 100%;
}

#side-bar {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    position: absolute;
    overflow: auto;
    color: rgb(64, 92, 129);
    margin: 20px;
    padding: 30px;
    z-index: 10000;
}

.content #side-bar h3 {
    font-size: 20px;
    margin-top: 0;
}

#offers {
    flex-grow: 1;
}

#offers,
#offer-form {
    width: 100%;
}

#offers table,
#offer-form table {
    width: 100%;
    text-align: center;
}

#offers table tr:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#offers table tr th,
#offers table tr td {
    border-bottom: 1px solid black;
    padding: 6px 0;
}

#offers table tr:last-child td {
    border-bottom: 0;
}

#offersTable {
    font-weight: bolder;
}

#offersTable tbody button {
    background-color: rgb(64, 92, 129);
    border-radius: 0;
    border: none;
    outline: none;
    cursor: pointer;
    height: 100%;
    padding: 0px 10px;
    color: white;
    margin: 0 5%;
    height: 36px;
    width: 40%;
}

#offers .btn,
#offer-form .btn {
    width: 150px;
}

#side-bar a {
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid rgb(235, 235, 235);
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.loader-wrapper .loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

#reports-button {
    width: 200px;
    margin: auto auto 0 auto;
}

::placeholder {
    color: gray;
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

.alert {
    position: absolute;
    top: -100px;
    width: 70vw;
    margin-top: 0;
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.alert:not(:empty) {
    top: 20px;
    margin-top: 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
