#sales-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10000;
}

.modal-container {
    display: flex;
    flex-direction: column;
    width: calc(75% - 40px);
    height: calc(75% - 40px);
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
}

#sales-modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
}

#sales-modal-content img {
    height: 100%;
}

#sales-modal-arrow-left,
#sales-modal-arrow-right {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', sans-serif;
}