.background {
    display: flex;
    flex-direction: column;
}

.content {
    position: relative;
    flex-grow: 1;
    width: 100%;
    background-color: #405C81;
}

#location-map {
    height: 100%;
    width: 100%;
}

#side-bar {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: calc(100% - 40px);
    width: 25%;
    position: absolute;
    overflow:auto;
    color: rgb(64, 92, 129);
    margin: 20px;
    z-index: 10000;
}

#side-bar .supplier-info {
    flex-grow: 1;
}

#side-bar .supplier-info-footer {
    display: flex;
    padding: 20px;
}

#supplier-icon {
    width: 30%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.content #side-bar h3 {
    font-size: 20px;
    margin-left: 5%;
}

#sales {
    width: 80%;
    margin: auto;
}

#sales img {
    width: 100%;
    max-height: 100%;
}

#side-bar a {
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid rgb(235, 235, 235);
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.loader-wrapper .loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

#reports-button {
    width: 200px;
    margin: auto auto 0 auto;
}