body {
	padding: 0 10% 0 10%;
}

article h1 {
	text-align: center;
	background-color: #1C3D60;
	color: white;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 30px;
}

#authors li {
	list-style-type: none;
	text-align: right;
	margin-right: 5%;
}

#authors li li {
	list-style-type: none;
	text-align: right;
	margin-right: 0;
}

#authors h2 {
	margin-right: 10%;
	text-align: right;
}

section h6 {
	text-align: center;
	color: white;
	background-color: #1C3D60;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 20px;
}

section ol {
	font-size: 20px;
}

section h3 {
	text-align: center;
	margin: 2% 2%;
}

section p {
	text-align: center;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}